<body class="secContact ">

<div class="container secContact2 pt-5">
    <h1 class="text-center text-white mb-5">Si desea trabajar con nosotros o tiene alguna pregunta para nosotros, complete el siguiente formulario.</h1>
   <div class="row">
       <div class="col-md-6">
            <div class="card bg-light  col-md-12 ">
                    <div class="card-body">
                      <h5 class="card-title">Contáctame</h5>
                      <form>
                          <div class="form-group">
                            <label >Nombre (Personal y/o Empresarial)</label>
                            <input type="text" class="form-control" id="nombre" placeholder="nombre">
                          </div>
                          <div class="form-group">
                            <label >Teléfono (Personal y/o Empresarial)</label>
                            <input type="text" class="form-control" id="teléfono" placeholder="teléfono">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" email">
                          </div>
                          <div class="form-group">
                              <label for="">Descripción del proyecto</label>
                              <textarea name="" class="form-control" placeholder="Cuéntanos de que trata tu proyecto" id="" cols="30" rows="10"></textarea>
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <small class="form-text text-muted">Términos y Condiciones</small>
                          </div>
                  
                          <button type="submit" class="btn btn-primary m-2">Enviar</button>
                        </form>
                    </div>
                  </div>
       </div>
       <div class="col-md-1">
           <h1 class="text-white text-center pt-5">Ó</h1>
       </div>
       <div class="col-md-4 text-center">
           <h5 class="text-white text-center">Contactar vía..</h5>
           <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                        <h4 class="text-white text-center">
                                Teléfono
                        </h4>
                   </div>
               <div class="card-body">
                   
                   <h5 class="card-title"> <b>771-190-8401</b> </h5>
               </div>
           </div>
           <div class="card text-white bg-dark">
                <div class="card-header">
                        <h4 class="text-white text-center">
                                Email
                        </h4>
                   </div>
               <div class="card-body">
                   
                   <h5 class="card-title"> <b>saulreyesag@gmail.com</b> </h5>
               </div>
           </div>
       </div>
   </div>
</div>
</body>