<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="../../../assets/img/about-us.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-title">
                    <h2 class=" text-uppercase pt-5">
                        <span>Let me</span>
                        <span> Introduce</span>
                        <span> Myself</span>
                    </h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut aspernatur libero id asperiores error animi exercitationem natus dolor quae adipisci, quibusdam temporibus explicabo quod. Odit nihil eligendi quis non. Aspernatur?
                        </p>
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut aspernatur libero id asperiores error animi exercitationem natus dolor quae adipisci, quibusdam temporibus explicabo quod. Odit nihil eligendi quis non. Aspernatur?
                        </p>
                       
                    </div>
                </div>
                
                <button class="btn btn-outline-primary">Download CV</button>
            </div>
        </div>
    </div>
</section>
<section class="brand-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row first-row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo1.png" alt="" class="logoabout"><!--el tamano de la imagen es de 250 x 250-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo4.png" alt="" class="logoabout"><!--el tamano de la imagen es de 250 x 250-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo5.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo6.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo7.png" alt="" class="logoabout"><!--el tamano de la imagen es de 250 x 250-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo8.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo9.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo10.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>