<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="../../../assets/img/about-us.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-title">
                    <h2 class=" text-uppercase pt-5">
                        <span>Let me</span>
                        <span> Introduce</span>
                        <span> Myself</span>
                    </h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut aspernatur libero id asperiores error animi exercitationem natus dolor quae adipisci, quibusdam temporibus explicabo quod. Odit nihil eligendi quis non. Aspernatur?
                        </p>
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut aspernatur libero id asperiores error animi exercitationem natus dolor quae adipisci, quibusdam temporibus explicabo quod. Odit nihil eligendi quis non. Aspernatur?
                        </p>
                    </div>
                </div>

                <button class="btn btn-outline-primary">Download CV</button>
            </div>
        </div>
    </div>
</section>
<section class="brand-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row first-row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo1.png" alt="" class="logoabout">
                            <p style="text-align: center">Bootstrap</p>
                            <!--el tamano de la imagen es de 250 x 250-->
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo2.png" alt="">
                            <p style="text-align: center">Angular</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo3.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">JavaScript</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo4.png" alt="" class="logoabout" style="padding-bottom: 5px">
                            <p style="text-align: center">TypeScript</p>
                            <!--el tamano de la imagen es de 250 x 250-->
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo5.png" alt="">
                            <p style="text-align: center">MySQL</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo6.png" alt="">
                            <p style="text-align: center">MongoDB</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo7.png" alt="" class="logoabout" style="padding-bottom: 30px">
                            <!--el tamano de la imagen es de 250 x 250-->
                            <p style="text-align: center">Laravel</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo8.png" alt="">
                            <p style="text-align: center">PHP</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo9.png" alt="">
                            <p style="text-align: center">JQuery</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo10.png" alt="">
                            <p style="text-align: center">HTML</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo11.png" alt="">
                            <p style="text-align: center">CSS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo12.png" alt="">
                            <p style="text-align: center">Git</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo13.png" alt="">
                            <p style="text-align: center">Github</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo14.png" alt="">
                            <p style="text-align: center">NodeJS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo15.png" alt="">
                            <p style="text-align: center">Firebase</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>