<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="../../../assets/img/svg12.svg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="about-title">
                   <div class="col-sm-12 ">
                        <h2 class=" text-uppercase pt-5">
                                <span class="presentacion ">Una</span>
                                <span class="presentacion"> Pequeña</span>
                                <span class="presentacion">Presentación</span>
                                <!--<span> Myself</span>-->
                            </h2>
                   </div>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            Soy el tipo que hace que la gente compre tus cosas. Hago sitios web, diseño de impresión clásico, desarrollo de marca y desarrollo.
                        </p>
                        <p class="para">
                            Como aterrizaste aquí, probablemente estés buscando a alguien que pueda construir tu nuevo sitio web. ¡Bien hecho! Encontraste al hombre para el trabajo. Puedo manejar proyectos desde cero, o proyectos para marcas establecidas que se basan en elementos visuales y estéticos preexistentes. No importa el tamaño de su proyecto, puedo hacerlo todo. Soy parte de una red de profesionales creativos capaces de manejar incluso los trabajos más desafiantes.
                        </p>
                        <p class="para">
                            While creating site designs, i try to work closely with the clients and pay much attention to preparatory work. <br> I consider myself to be extremely fortunate, because my 'job', such as it is, simply entails doing what i love. I call myself a developer.
                        </p>
                    </div>
                </div>

                <!--<button class="btn btn-outline-primary">Download CV</button>-->
            </div>
        </div>
    </div>
</section>
<!--<section class="brand-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row first-row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo1.png" alt="" class="logoabout">
                            <p style="text-align: center">Bootstrap</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo2.png" alt="">
                            <p style="text-align: center">Angular</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo3.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">JavaScript</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo4.png" alt="" class="logoabout" style="padding-bottom: 5px">
                            <p style="text-align: center">TypeScript</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo5.png" alt="">
                            <p style="text-align: center">MySQL</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo6.png" alt="">
                            <p style="text-align: center">MongoDB</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo7.png" alt="" class="logoabout" style="padding-bottom: 30px">
                            <p style="text-align: center">Laravel</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo8.png" alt="">
                            <p style="text-align: center">PHP</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo9.png" alt="">
                            <p style="text-align: center">JQuery</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo10.png" alt="">
                            <p style="text-align: center">HTML</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo11.png" alt="">
                            <p style="text-align: center">CSS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo12.png" alt="">
                            <p style="text-align: center">Git</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo13.png" alt="">
                            <p style="text-align: center">Github</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo14.png" alt="">
                            <p style="text-align: center">NodeJS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="../../../assets/img/brands/logo15.png" alt="">
                            <p style="text-align: center">Firebase</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
                            <!--el tamano de la imagen es de 250 x 250-->
                        