<section class="site-banner">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 site-title">
                        <h3 class="title-text"> hey </h3>
                        <h2 class="title-text text-uppercase">I am Nombre</h2>
                        <h4 class="title-text text-uppercase">Freelance Web Developer.</h4>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <button class="btn btn-outline-primary mr-5">hire me</button>
                                <button class="btn btn-outline-info ">contact</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 banner-image">
                        <img src="/src/assets/img/banner/banner-image.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
</section>