


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 480px){
    body {
        padding: 0;
    }
    .navbar {
        padding: 1%;
    }
    .fluid-img
    {
        padding-right: 60px;
        padding-top: 20px;
        width: 100%;
    }
    .me2{
        margin-right: 8%;
    }
    
    .single-b>img, .col-lg-3, .col-md-3, .col-sm-3 {
       width: 100px !important;
       display:block;/*centrado de imagen*/
       margin:auto;/*centrado de imagen*/
       padding-top: 8px;

    }
    .idioma {
        padding-left: 60px !important;
        width: 90%;
    }
    
    .me3{
        padding-right: 4px !important;
        display: flexbox;
    }
    .direccionCV {
        padding-left: 10px
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 767px){
    body {
        padding: 0;
    }
    .navbar {
        padding: 1%;
    }
    
    n .single-b {
       
        text-align: center;
        width: 40%;
    }
    
    .single-b>img {
        width: 35px;
    }
    /*.site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }*/
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    /*.header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }*/


}