<div class="container" style="padding-top: 20px">
    <div class="row">
        <div class="col-md-4" style="border-right: slategrey">

            <img src="../../../assets/img/me.png" alt="" class="me bg-light">

            <div class=" bgcolor" style="width: 380px; padding-bottom: 10px">
                <h1 class="informacion " style="padding-bottom: 20px">Habilidades</h1>
                <hr>

                <!--
                <div class="container2">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="35" cy="35" r="35"></circle>
                                <circle cx="35" cy="35" r="35"></circle>
                            </svg>
                            <div class="number">
                                <p>60 <span>%</span></p>
                            </div>
                        </div>
                        <p>Bootstrap</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="35" cy="35" r="35"></circle>
                                <circle cx="35" cy="35" r="35"></circle>
                            </svg>
                            <div class="number">
                                <p>60 <span>%</span></p>
                            </div>
                        </div>
                        <p>Angular</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="35" cy="35" r="35"></circle>
                                <circle cx="35" cy="35" r="35"></circle>
                            </svg>
                            <div class="number">
                                <p>60 <span>%</span></p>
                            </div>
                        </div>
                        <p>JavaScript</p>
                    </div>

                </div>
                <div class="container2">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>60 <span>%</span></p>
                            </div>
                        </div>
                        <p>TypeScript</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>85 <span>%</span></p>
                            </div>
                        </div>
                        <p>MySQL</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>70 <span>%</span></p>
                            </div>
                        </div>
                        <p>MongoDB</p>
                    </div>

                </div>
                <div class="container2">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>80 <span>%</span></p>
                            </div>
                        </div>
                        <p>Laravel</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>80 <span>%</span></p>
                            </div>
                        </div>
                        <p>PHP</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                    <circle cx="35" cy="35" r="35"></circle>
                                    <circle cx="35" cy="35" r="35"></circle>
                                </svg>
                            <div class="number">
                                <p>80 <span>%</span></p>
                            </div>
                        </div>
                        <p>JQuery</p>
                    </div>

                </div>
                <div class="container2">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                        <circle cx="35" cy="35" r="35"></circle>
                                        <circle cx="35" cy="35" r="35"></circle>
                                    </svg>
                            <div class="number">
                                <p>85 <span>%</span></p>
                            </div>
                        </div>
                        <p>HTML</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                        <circle cx="35" cy="35" r="35"></circle>
                                        <circle cx="35" cy="35" r="35"></circle>
                                    </svg>
                            <div class="number">
                                <p>85 <span>%</span></p>
                            </div>
                        </div>
                        <p>CSS</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                        <circle cx="35" cy="35" r="35"></circle>
                                        <circle cx="35" cy="35" r="35"></circle>
                                    </svg>
                            <div class="number">
                                <p>70 <span>%</span></p>
                            </div>
                        </div>
                        <p>Git</p>
                    </div>

                </div>
                <div class="container2">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                            <circle cx="35" cy="35" r="35"></circle>
                                            <circle cx="35" cy="35" r="35"></circle>
                                        </svg>
                            <div class="number">
                                <p>70 <span>%</span></p>
                            </div>
                        </div>
                        <p>Github</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                            <circle cx="35" cy="35" r="35"></circle>
                                            <circle cx="35" cy="35" r="35"></circle>
                                        </svg>
                            <div class="number">
                                <p>70 <span>%</span></p>
                            </div>
                        </div>
                        <p>NodeJS</p>
                    </div>
                    <div class="card">
                        <div class="percent">
                            <svg>
                                            <circle cx="35" cy="35" r="35"></circle>
                                            <circle cx="35" cy="35" r="35"></circle>
                                        </svg>
                            <div class="number">
                                <p>70 <span>%</span></p>
                            </div>
                        </div>
                        <p>Firebase</p>
                    </div>

                </div>-->
                <div class="row container">
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b" style="padding-bottom: 30px">
                            <img src="../../../assets/img/brands/logo3.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">JavaScript</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo1.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">Bootstrap</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo2.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">Angular</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo4.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">TypeScript</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo5.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">MySQL</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo6.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">MongoDB</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b" style="padding-bottom: 30px">
                            <img src="../../../assets/img/brands/logo8.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">Php</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo9.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">JQuery</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo10.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">HTML</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo11.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">CSS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b" style="padding-bottom: 30px">
                            <img src="../../../assets/img/brands/logo12.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">Git</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo13.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">GitHub</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo14.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">NodeJS</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo15.png" alt="" style="padding-bottom: 5px">
                            <p style="text-align: center">Firebase</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2">
                        <div class="single-b">
                            <img src="../../../assets/img/brands/logo7.png" alt="" style="width: 110px">
                            <p style="text-align: center">Laravel</p>
                            <div class="progress col-md-12" style="padding-left: 0px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h1 class="informacion " style="padding-bottom: 20px">Idiomas</h1>
                <hr>
                <h4 class="informacion " style="padding-bottom: 20px">Inglés</h4>
                <div class="row container">
                    <span style="padding-left: 20px; color:snow">Escrito</span>
                    <div class="progress col-md-8 container" style="padding-left: 0px; padding-right: 0px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <span style="padding-left: 10px; color:snow">Hablado</span>
                    <div class="progress col-md-8 container" style="padding-left: 0px; padding-right: 0px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <h1 class="informacion " style="padding-bottom: 20px">Hoobies</h1>
                <hr>
                <div class="row container pl-5">
                    <div class="col-md-3" style="color: snow">
                        <i class="fas fa-book fa-3x"></i>
                    </div>
                    <div class="col-md-3" style="color: snow">
                        <i class="fas fa-music fa-3x"></i>
                    </div>
                    <div class="col-md-3" style="color: snow">
                        <i class="fas fa-futbol fa-3x"></i>
                    </div>
                    <div class="col-md-3" style="color: snow">
                        <i class="fas fa-code fa-3x"></i>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-8 ">
            <section class="row cabeceracv informacion">
                <div class="col-md-12">
                    <p class="title-text text-uppercase">
                        Saúl Reyes Aguillón
                    </p>
                    <p class="cargo mb-3">
                        Web Developer
                    </p>
                    <div class="row">
                        <div class="col-md-6 mb-3"><i class="fas fa-phone-alt"></i> &nbsp; 771-190-84-01</div>
                        <div class="col-md-6 "><i class="fas fa-envelope"></i> &nbsp; saulreyesag@gmail.com</div>
                    </div>
                    <div class="row ">
                        <div class="mb-3" style="padding-left: 150px"><i class="fas fa-map-marker-alt"></i> &nbsp; Curazao 676, Lindavista Sur, 07300, Gustavo A. Madero, CDMX</div>

                    </div>
                </div>
            </section>

            <div class="row">
                <div class=" ">
                    <h4 style="padding-left: 270px">Formación Académica</h4>
                    <hr>
                    <ul class="timeline">
                        <li>
                            <div class="row">
                                <p class="parColor col-md-3">Jul 2014 - May 2019 </p>
                                <p class="par">Universidad Autónoma del Estado de Hidalgo</p>
                            </div>
                            <!--<p class="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>-->
                        </li>
                        <!--
                            <li>
                            <a href="#">21 000 Job Seekers</a>
                            <a href="#" class="float-right">4 March, 2014</a>
                            <p class="par">Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                        </li>
                        <li>
                            <a href="#">Awesome Employers</a>
                            <a href="#" class="float-right">1 April, 2014</a>
                            <p class="par">Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                        </li>
                        -->
                    </ul>
                    <h4 style="padding-left: 270px">Formación Complementaria</h4>
                    <hr>
                    <ul class="timeline">
                        <li>
                            <div class="row">
                                <p class="parColor col-md-3">Jun - Oct 2019 </p>
                                <p class="par">Laravel de principiante a experto. &nbsp;&nbsp;</p>
                                <p class="par">En la plataforma Udemy.</p>

                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <p class="parColor col-md-3">Ago - Nov 2019 </p>
                                <p class="par ">Angular. &nbsp;&nbsp;</p>
                                <p class="par">En la plataforma Udemy.</p>
                            </div>

                        </li>
                        <li>
                            <div class="row">
                                <p class="parColor col-md-3">Ago - Nov 2019 </p>
                                <p class="par ">NodeJS - The Complete Guide (inclu. MVC, REST APIs, GraphQL).</p>
                                <p class="par" style="padding-left: 183px">En la plataforma Udemy.</p>
                            </div>

                        </li>
                        <li>
                            <div class="row">
                                <p class="parColor col-md-3">Sept - Nov 2019 </p>
                                <p class="par ">MongoDB - The complete Developer's Guide. &nbsp;&nbsp;</p>
                                <p class="par">En la plataforma Udemy.</p>
                            </div>

                        </li>
                    </ul>
                    <h4 style="padding-left: 270px">Experiencia Web Developer</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>