<section class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="text-uppercase title-text">Services Offers</h1>
                <p class="para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repudiandae, eius id iste tempore voluptatibus! Consequuntur, illum? Adipisci repudiandae quia aliquid aperiam eveniet, voluptatibus, ea doloremque velit explicabo nobis enim!
                </p>
            </div>
        </div>
    </div>
    <div class="container services-list">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="../../../assets/img/services/s1.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto">Web Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a ad quibusdam commodi exercitationem quod dolores. Eum, maxime ut dolores nemo sed cupiditate dicta repudiandae illum rem molestias est odit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="../../../assets/img/services/s1.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto">Web Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a ad quibusdam commodi exercitationem quod dolores. Eum, maxime ut dolores nemo sed cupiditate dicta repudiandae illum rem molestias est odit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="../../../assets/img/services/s1.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto">Web Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a ad quibusdam commodi exercitationem quod dolores. Eum, maxime ut dolores nemo sed cupiditate dicta repudiandae illum rem molestias est odit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="../../../assets/img/services/s1.png" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-roboto">Web Developer</h5>
                        <p class="card-text text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos a ad quibusdam commodi exercitationem quod dolores. Eum, maxime ut dolores nemo sed cupiditate dicta repudiandae illum rem molestias est odit.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>